html {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
body {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
div {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
span {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
h1 {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
h2 {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
h3 {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
h4 {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
h5 {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
h6 {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
p {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
pre {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
a {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
code {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
em {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
img {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
small {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
strong {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
sub {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
sup {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
u {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
i {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
center {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
dl {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
dt {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
dd {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
ol {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
ul {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
li {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
fieldset {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
form {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
label {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
a {
	color: rgb(0, 123, 196); text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:focus {
	-moz-outline: none;
}
ol {
	list-style: none;
}
ul {
	list-style: none;
}
table {
	border-collapse: collapse; border-spacing: 0;
}
html {
	background: url("../images/bg.png");
}
body {
	background: url("../images/body_bg.gif") repeat-x; font: 14px/18px "Microsoft Yahei", Tahoma, Helvetica, Arial, Verdana, "ו", sans-serif; height: 100%; color: rgb(81, 85, 92); font-size-adjust: none; font-stretch: normal;
}
img {
	border: currentColor; border-image: none;
}
#header {
	margin: 0px auto; width: 980px; height: 90px; position: relative;
}
#logo {
	background: url("../images/logo_demo.gif") no-repeat; width: 240px; height: 90px;
}
#logo h1 {
	text-indent: -999em;
}
#logo h1 a {
	width: 240px; height: 90px; display: block;
}
#main {
	background: rgb(255, 255, 255); margin: 30px auto 0px; border-radius: 5px; border: 1px solid rgb(211, 211, 211); border-image: none; width: 980px; min-height: 600px; -moz-border-radius: 5px; -khtml-border-radius: 5px; -webkit-border-radius: 5px;
}
h2.top_title {
	background: url("../images/arrL.gif") no-repeat 2px 16px; margin: 4px 20px; color: rgb(168, 76, 16); padding-top: 15px; padding-bottom: 10px; padding-left: 20px; font-size: 18px; border-bottom-color: rgb(211, 211, 211); border-bottom-width: 1px; border-bottom-style: solid;
}
#footer {
	height: 60px;
}
#footer p {
	padding: 10px 2px; text-align: center; line-height: 24px;
}
#footer p a:hover {
	color: rgb(81, 85, 92);
}
#stat {
	display: none;
}
.google_ad {
	margin: 50px auto; width: 728px; height: 90px;
}
.ad_76090 {
	margin: 40px auto; width: 760px; height: 90px;
}
.ad_demo {
	margin: 40px auto; width: 760px; height: 90px;
}
.demo_topad {
	top: 15px; width: 472px; height: 60px; right: 0px; position: absolute;
}
@media screen and (max-width:480px) and (min-width:320px)
{
html {
	-webkit-text-size-adjust: none;
}
#header {
	width: 100%;
}
#main {
	margin: 10px auto; border-radius: 0px; width: 100%; -moz-border-radius: 0px; -khtml-border-radius: 0px; -webkit-border-radius: 0px;
}
.demo_topad {
	display: none;
}
.google_ad {
	margin: 40px auto; width: 100%; text-align: center;
}
.ad_76090 {
	margin: 40px auto; width: 100%; height: auto; text-align: center;
}
.ad_demo {
	margin: 40px auto; width: 100%; height: auto; text-align: center;
}
.demo {
	margin: 10px auto; width: 98%;
}
}
